
/*--------------------------------------------------------------------- */
/* CV angular styles */
/*--------------------------------------------------------------------- */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}


.pagination-sm > li > a, .pagination-sm > li > span {
    font-size: 11px;
    padding: 3px 7px;
}

.paging-select {
    width: 50px !important;
    float: left;
    padding:1px!important;
    height:25px;
}

.pager-pagination {
    margin-top:10px;
   
}
.pagination {
     padding-left: 5px;
    margin: 0px;
    float:left;
}

.controls-pagination {
    margin-bottom: 5px;
    
}

.pre-margin {
    margin-bottom: 10px;
}


.clear-div
{
    clear:both;
}
th {
    text-align: center;
}

.pre-pager-text
{
    text-align:left;
}